@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;900&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

:root {
    background-color: rgb(241, 241, 149);
}

body {
    padding: 20px;
}

.hero-image {
   position: relative; 
}

.hero-image img {
    width: 100%;
    height: 550px;
}

#second_image {
    width: 270px;
    height: 170px;

}

h1 {
    position: absolute;
    background-color: rgba(253, 218, 13, 0.7);
    width: 600px;
    margin-left: 300px;
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 30px;
    color: #0b3242;
    
}



#priority_section {
    background-color: rgba(51, 121, 210, 0.74);;
    padding: 10px;
    text-align: center;
    width: 1235px;
    margin-top: 30px;
    height: 150px;
    font-family: 'Libre Caslon Display', serif;

}

.rafting_pics {
    width: 227px;
    height: 150px;
    padding: 5px;
    

}

.icons_pics {
    width: 40px;
    height: 40px;
}

.figure_container {
    display: flex;
    padding-left: 1px
    
}

figure {
    margin-right: 5px;
    margin-left: 5px;
}

nav {
    display: flex;
    
}

header {
    background-color: #3387ac;
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #3387ac;
    border-top: 1px solid #3387ac;
    border-left: 1px solid #3387ac;
    border-right: 1px solid #3387ac;
	max-width: 1000px;  
}

nav a {
    margin-right: 75px;
    margin-left: 75px;
    color: #d5e299;
    font-size: large;
    font-family: 'Libre Caslon Display', serif;
    
}

section {
    background-color: #E9D758;
    
}               

.squares {
    
    width: 600px;
    text-align: center;
    padding-left: 300px;
    
    
}

.squares h2{
    padding-top: 45px;
   
}

#sec1 {
    width: 600px;
    border: 1px;
    height: 200px;
    color: #0b3242;
    font-size: larger;
    
}

#sec2 {
    width: 600px;
    border: 1px;
    border-top: 1px #FF8552;
    height: 200px;
    color: #0b3242;
    font-size: larger;
    
    
}

#sec3 {
    width: 600px;
    border: 1px;
    border-top: 1px #FF8552;
    height: 200px;
    color: #0b3242;
    font-size: larger;
    
}


.forma {
    background-color:  #CCCCFF;
    
}

 
.forma h2 {
     text-align: center;
     color: #1F617D;
     padding-top: 20px;
     font-size: xxx-large;
 }

 form {
   width: 500px;
   background-color: #fde664;
   padding: 20px;
   border-color: black;
   padding-bottom: 50px;
 }
 
 input {
     width: 100%;  
   }
 
 select {
     width: 100%;  
   }
 
 textarea {
     width: 100%;  
     height: 100px;
     resize: vertical;
 
   }
 
   button {
     width: 408px;
     height: 40px;
     background-color:#6495ED;
     color: antiquewhite;
     margin-left: 35px;
       }
 
 
 .style_form {
     justify-content: center;
     display: flex;
     border: 2px ;
     font-family: 'Libre Caslon Display', serif;
     color: #0b3242;
     font-size: medium;
 }

 .checkbox-container {
    display: flex;
 }

 
 section h2 {
    font-family: 'Bowlby One SC', cursive;
    color: #0b3242;
}

section figure {
    font-family: 'Libre Caslon Display', serif;
    color: #050f1d;
    text-align: center;
}

#staff_section h2 {
    text-align: center;
    padding-top: 20px;
    
}

.foto_mapa {
    height: 450px;
    padding-left: 10px;
}

.mapa {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 241, 149);;
    padding: 10px;
    top: 50px;
    padding-top: 25px;
    margin-top: 30px;
}