@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
:root {
    background-color: beige;
}

body {
    padding: 20px;
}

.hero-image {
   position: relative; 
}

.hero-image img {
    width: 100%;
    height: 550px;
}

#second_image {
    width: 270px;
    height: 170px;

}

h1 {
    position: absolute;
    background-color: rgba(253, 218, 13, 0.7);
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    top: 25px;
}


article {
    position: absolute;
    background-color: rgba(255, 170, 51, 0.6);
    display: flex;
    padding: 15px;
    top: 200px;
    margin-left: 120px;
    margin-right: 120px;
    
}


article p {
    text-align: justify;
    padding-right: 10px;
}


#adventure_section{
    background-color: #FF8552;
    padding: 2px;
    text-align: center;
    width: 1235px;
}

.rafting_pics {
    width: 227px;
    height: 150px;
    padding: 5px;
    

}

.icons_pics {
    width: 40px;
    height: 40px;
}

.figure_container {
    display: flex;
    padding-left: 1px
    
}

figure {
    margin-right: 5px;
    margin-left: 5px;
}

nav {
    display: flex;
    
}

header {
    background-color: #E9D758;
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #FF8552;;
    border-top: 1px solid #FF8552;;
    border-left: 1px solid #FF8552;;
    border-right: 1px solid #FF8552;;
	max-width: 1000px;
}

nav a {
    margin-right: 75px;
    margin-left: 75px;
    font-family: 'Oswald', sans-serif;
    color: black;
}

section {
    background-color: #E9D758;
}