* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}
nav {background-color: #FFD580;
    padding: 10px;
    }
    nav a {
        color: #FF5F1F;
        display: block;
        padding: 20px;
    }
    h1 {
        color: #FF5F1F;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    main img {
        width: 150px;
        height: auto;
        border: 1px solid #FF5F1F; 
        padding: 2px;
        box-shadow: 0 0 30px gray;
        float: right;
        margin: 0 1rem 1rem 1rem;
     } 
     p {
        margin: 1rem;
     }

    aside {
        width: 30em;
        margin: 1rem;
        text-align: center;
        position: relative;
    }

    aside img {
        width: 350px;
        height: auto;
    }

    aside h2 { 
        position: absolute; 
        top: 25px;
        left: 200px;  
    }

    footer {
        margin-top: 1em;
        border-top: 1px solid #FF5F1F;
        text-align: center;
    }

/* Class Selectors */

.box{
    margin: 1rem;
    border: 1px #FF5F1F;
    padding: 1rem;
    background-color: #FFD580;
    color: #FF5F1F;
}

.indent{
    width: 550px;
    padding: 2rem;
}

.nave {
    height: 300px;
}